body{
    background-image: url(Periodistas/fondo3.jpg);
}

.bg{
    background-image: url(NOTICIAS/news.jpeg);
    background-position: center center;
    
}

.navbar{
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
}

element.style {
    display: block;
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 75px;
    z-index: 999;
    overflow: hidden;
    width: 51px;
    height: 51px;
    border: none;
    text-indent: 100%;
    background-image: url(iconos/2203525_arrow_botton_menu_up_icon.png);
    background-position: center center;
}


.nav{
    background-color: rgba(0, 0, 1, 1);
    width: 100%;
    position: static;
   
}

.buscar{
    position: static;
    padding: 5px;
}
.buscar input{
    width: 240px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
}
.main{
    position: initial;
    
}
.divmayor{
    display: flex;
    margin-inline: 80%;
}
.logo{
    color: white;
    text-decoration: none;
    margin: 10px;
    position: absolute;
}

.logo:hover{
    color: #f1f1f1;
    transition: .6s;
}

.dropdown-btn{
    background-color: rgba(0, 0, 1, 0.4);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer; 
}

.dropdown{
    position: absolute;
    display:block;
    
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0, 0, 1, 0.8);
    flex-direction: row-reverse;
    
  
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
    
}

.dropdown-content a:hover{
    background-color: #f1f1f1;
    transition: .6s;
}

.dropdown:hover .dropdown-btn{
    background-color: rgba(0, 0, 2, 0.5);
    transition: .6s;
}

.dropdown:hover .dropdown-content{
    display: block;
    transition: .2s;
}

.dropdown-btn-logo{
    padding: 10px;
    border: 50px;
    cursor: pointer;  
    width: 90%;
}

.d-block{
    position: relative;
    max-width: 98%;
    max-height: 98%;
    justify-content: center;
    margin: 0;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-encima{
    color: rgb(243, 243, 243);
    font-style: italic;
    font-size: x-large;
    position: absolute;
    top: 10px;
    left: 4px;
    width: 50%;
    font-weight: bolder;
}
.carousel-item{
    
    margin-left: 35px 35px 35px 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 0.6s;
   
}

.carousel-item:hover{
    
    background-color: rgba(32, 121, 184, 0.1);
    border-radius: 4px;
}

.d-block{
    border-radius: 4px;
}

.foto{
    max-width:40%;
    max-height: 40%;
    position: relative;
    flex-grow: inherit;
    border-style: groove;
    border-radius: 4px;
    flex-direction: column;
    transition: 0.6s;
    color: rgba(0, 0, 1, 0.5);
    
   
}

.foto:hover{
    
    transform: scale(1.05, 1.05);
    background-color: rgba(32, 121, 184, 0.1);
    
}

.footer{
    background-color: black;
}

.contenedor{
    padding: 0;
    margin: 0;
    
}
.links{
    width: 100%;
    padding: 0;
    margin: 10px 0 0 20px;
    text-decoration: none;
}
.vinculo{
    display:flex;
    color: white;
    opacity: inherit;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.vinculo:hover{
    opacity: 0.5;
}

.redes{
    justify-items: flex-start;
}
.iconos{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: static;
}

h2{
    width: 40%;
   display: flex;
   justify-content: end;
}

.caja{
    display: inline;
    font-style: italic;
    width: 30%;
}